body {
  background-color: #141414;
}

.fond-bg {
  width: 100%;
  height: auto;
  display: block;
  padding-bottom: 90px;
  margin-top: -90px;
}

.Netflix {
  margin-left: 80px;
  margin-top:10px;
}

.Narcos {
  margin-left: 140px;
}

.fond-bg2 {
  width: 100%;
  height: auto;
  padding-bottom: 90px;
  margin-top: 50px;

}

.text-overlay2{
  color: white;
  position: absolute;
  top: 150%;
  left: 15%;
}
.pave {
  font-weight : bold;
}
.polonais {
  color:red;
  font-size: 70px;
  margin-top: 30px;
}

.serie-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.serie {
  width: 189px;
  height: auto;
  margin-top: -40px;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 10;
  color: white;
}
.pave2 {
  font-weight : bold;
  margin-left: 30px;
}

.button {
  display: flex;
  gap: 110px;
  justify-content: center;
  margin-left: 30px;
  margin-top: 60px;
}

.button button {
  width: 300px;
  height: 50px;
  border: none;
  background-color: #0000004c;
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.button button:hover {
  background-color: #e50914;
  transform: scale(1.1);
}

.Revoir {
  color: white;
  margin: -100px 0;
  margin-bottom: 40px;
  margin-left: 75px;
  font-size: 1.2rem;
  font-weight: bold;
}

.video{
  display: flex;
  gap: 10px;
  margin-left: 184px;
  margin-top: -420px;
}

@media screen and (max-width: 768px) {
  .fond-bg {
    margin-top: 0;
  }

  .button {
    flex-direction: column;
    gap: 10px;
  }

  .serie {
    width: 100px;
  }
}

@media screen and (max-width: 480px) {
  .serie {
    width: 150px;
  }

  .button button {
    width: 250px;
  }
}